In [1]:
import os
os.getcwd()

'/Users/loi/MEGA/Courses/2020_CSCI_S-33a_Web_Python_JS/proj2_commerce'

In [2]:
%load_ext sql
%sql sqlite:///db.sqlite3

'Connected: @db.sqlite3'

list all tables

In [3]:
%sql select * from sqlite_master

 * sqlite:///db.sqlite3
Done.

[('table', 'django_migrations', 'django_migrations', 2, 'CREATE TABLE "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL)'),
 ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'django_content_type', 'django_content_type', 5, 'CREATE TABLE "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL)'),
 ('index', 'django_content_type_app_label_model_76bd3d3b_uniq', 'django_content_type', 4, 'CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model")'),
 ('table', 'auth_group_permissions', 'auth_group_permissions', 9, 'CREATE TABLE "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('index', 'auth_group_permissions_group_id_permission_id_0cd325b0_uniq', 'auth_group_permissions', 12, 'CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id")'),
 ('index', 'auth_group_permissions_group_id_b120cbf9', 'auth_group_permissions', 13, 'CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id")'),
 ('index', 'auth_group_permissions_permission_id_84c5c92e', 'auth_group_permissions', 14, 'CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id")'),
 ('table', 'auth_permission', 'auth_permission', 15, 'CREATE TABLE "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL)'),
 ('index', 'auth_permission_content_type_id_codename_01ab375a_uniq', 'auth_permission', 6, 'CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename")'),
 ('index', 'auth_permission_content_type_id_2f476e4b', 'auth_permission', 10, 'CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id")'),
 ('table', 'auth_group', 'auth_group', 11, 'CREATE TABLE "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE)'),
 ('index', 'sqlite_autoindex_auth_group_1', 'auth_group', 16, None),
 ('table', 'auctions_user', 'auctions_user', 7, 'CREATE TABLE "auctions_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_supe ... (100 characters truncated) ... ast_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL)'),
 ('index', 'sqlite_autoindex_auctions_user_1', 'auctions_user', 8, None),
 ('table', 'auctions_user_groups', 'auctions_user_groups', 17, 'CREATE TABLE "auctions_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auctions_user_user_permissions', 'auctions_user_user_permissions', 18, 'CREATE TABLE "auctions_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auctions_comment', 'auctions_comment', 22, 'CREATE TABLE "auctions_comment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "comment" varchar(9000) NOT NULL, "commenter_id" integer NOT NULL R ... (12 characters truncated) ... uctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "listing_id" integer NOT NULL REFERENCES "auctions_listing" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auctions_bid', 'auctions_bid', 23, 'CREATE TABLE "auctions_bid" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "bid_amount" decimal NOT NULL, "bid_time" datetime NOT NULL, "bidder_id ... (32 characters truncated) ... uctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "listing_id" integer NOT NULL REFERENCES "auctions_listing" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('index', 'auctions_user_groups_user_id_group_id_1f941809_uniq', 'auctions_user_groups', 24, 'CREATE UNIQUE INDEX "auctions_user_groups_user_id_group_id_1f941809_uniq" ON "auctions_user_groups" ("user_id", "group_id")'),
 ('index', 'auctions_user_groups_user_id_cdaa1ab3', 'auctions_user_groups', 25, 'CREATE INDEX "auctions_user_groups_user_id_cdaa1ab3" ON "auctions_user_groups" ("user_id")'),
 ('index', 'auctions_user_groups_group_id_beef25ba', 'auctions_user_groups', 26, 'CREATE INDEX "auctions_user_groups_group_id_beef25ba" ON "auctions_user_groups" ("group_id")'),
 ('index', 'auctions_user_user_permissions_user_id_permission_id_f092bc2e_uniq', 'auctions_user_user_permissions', 27, 'CREATE UNIQUE INDEX "auctions_user_user_permissions_user_id_permission_id_f092bc2e_uniq" ON "auctions_user_user_permissions" ("user_id", "permission_id")'),
 ('index', 'auctions_user_user_permissions_user_id_fec24fe0', 'auctions_user_user_permissions', 28, 'CREATE INDEX "auctions_user_user_permissions_user_id_fec24fe0" ON "auctions_user_user_permissions" ("user_id")'),
 ('index', 'auctions_user_user_permissions_permission_id_6cab40d7', 'auctions_user_user_permissions', 29, 'CREATE INDEX "auctions_user_user_permissions_permission_id_6cab40d7" ON "auctions_user_user_permissions" ("permission_id")'),
 ('index', 'auctions_comment_commenter_id_3cbcf958', 'auctions_comment', 31, 'CREATE INDEX "auctions_comment_commenter_id_3cbcf958" ON "auctions_comment" ("commenter_id")'),
 ('index', 'auctions_comment_listing_id_2f600ca5', 'auctions_comment', 32, 'CREATE INDEX "auctions_comment_listing_id_2f600ca5" ON "auctions_comment" ("listing_id")'),
 ('index', 'auctions_bid_bidder_id_caac8a93', 'auctions_bid', 33, 'CREATE INDEX "auctions_bid_bidder_id_caac8a93" ON "auctions_bid" ("bidder_id")'),
 ('index', 'auctions_bid_listing_id_4b09b47f', 'auctions_bid', 34, 'CREATE INDEX "auctions_bid_listing_id_4b09b47f" ON "auctions_bid" ("listing_id")'),
 ('table', 'django_admin_log', 'django_admin_log', 37, 'CREATE TABLE "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_rep ... (171 characters truncated) ... nteger NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0))'),
 ('index', 'django_admin_log_content_type_id_c4bce8eb', 'django_admin_log', 35, 'CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id")'),
 ('index', 'django_admin_log_user_id_c564eba6', 'django_admin_log', 36, 'CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id")'),
 ('table', 'django_session', 'django_session', 38, 'CREATE TABLE "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL)'),
 ('index', 'sqlite_autoindex_django_session_1', 'django_session', 39, None),
 ('index', 'django_session_expire_date_a5c62663', 'django_session', 41, 'CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date")'),
 ('table', 'auctions_listing', 'auctions_listing', 42, 'CREATE TABLE "auctions_listing" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(64) NOT NULL, "description" varchar(9000) NOT NULL, ... (139 characters truncated) ... ime" datetime NOT NULL, "seller_id" integer NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "current_bid" decimal NOT NULL)'),
 ('index', 'auctions_listing_seller_id_4fb0ef74', 'auctions_listing', 19, 'CREATE INDEX "auctions_listing_seller_id_4fb0ef74" ON "auctions_listing" ("seller_id")'),
 ('table', 'auctions_watchlist', 'auctions_watchlist', 30, 'CREATE TABLE "auctions_watchlist" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "listing_id" integer NOT NULL REFERENCES "auctions_listing" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('index', 'auctions_watchlist_listing_id_79aed81a', 'auctions_watchlist', 43, 'CREATE INDEX "auctions_watchlist_listing_id_79aed81a" ON "auctions_watchlist" ("listing_id")'),
 ('index', 'auctions_watchlist_user_id_f08ae6f3', 'auctions_watchlist', 44, 'CREATE INDEX "auctions_watchlist_user_id_f08ae6f3" ON "auctions_watchlist" ("user_id")')]

In [4]:
import os
os.getcwd()

'/Users/loi/MEGA/Courses/2020_CSCI_S-33a_Web_Python_JS/proj2_commerce'

In [5]:
#%sql delete from auctions_user
%sql select * from auctions_user

 * sqlite:///db.sqlite3
Done.

[(1, 'pbkdf2_sha256$180000$nC8LFhhyldQK$kobfM45KUOEBC7d170sIRYu6IaAaBmaRdVDQflW1tqU=', '2020-07-11 18:43:24.503294', 1, 'superuser', '', '', 'super@user.com', 1, 1, '2020-07-11 16:59:15.219803'),
 (2, 'pbkdf2_sha256$180000$SjnIZZqRGa9L$D/ccqrnmxuI96Ymay6lwpxPLxwbJxgTRaiT0SSMmsXQ=', '2020-07-11 21:59:10.652237', 0, 'byu', '', '', 'b@y.u', 0, 1, '2020-07-11 17:13:55.956362'),
 (3, 'pbkdf2_sha256$180000$I0Fs0EjVOMuP$jJ/UhwYoedZ5+fRSs6PGHEhm9dAaq9nMrYmdm/OMotQ=', '2020-07-11 17:32:27.939010', 0, 'loi', '', '', 'l@o.i', 0, 1, '2020-07-11 17:32:27.779048')]

In [6]:
#%sql delete from auctions_bid
%sql select * from auctions_bid

 * sqlite:///db.sqlite3
Done.

[(1, 4, '2020-07-11 17:14:08.570561', 2, 4),
 (2, 5, '2020-07-11 17:14:20.245880', 2, 4),
 (3, 4, '2020-07-11 17:14:24.957851', 2, 5),
 (4, 6, '2020-07-11 17:32:45.235995', 3, 4),
 (5, 7, '2020-07-11 21:04:46.186829', 2, 4),
 (6, 8, '2020-07-11 21:04:56.368733', 2, 4),
 (7, 9, '2020-07-11 21:14:02.762510', 2, 4)]

In [16]:
#%sql delete from auctions_comment
%sql select * from auctions_comment
#%sql DROP TABLE auctions_comment

 * sqlite:///db.sqlite3
(sqlite3.OperationalError) no such table: auctions_comment
[SQL: select * from auctions_comment]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [10]:
#%sql delete from auctions_listing
%sql select * from auctions_listing

 * sqlite:///db.sqlite3
Done.

[(4, 'Airpods', 'Idk Chinese characters are kind of sus but I checked the serial number and it worked with apple so... I would say real unless they took the serial number from real airpods', 'https://i.redd.it/wor2qv8yg6a51.jpg', 0, 3, 'Everything Else', '2020-07-11 17:07:58.267780', 1, 9),
 (5, 'Airpods #2', 'Prevailed sincerity behaviour to so do principle mr. As departure at no propriety zealously my. On dear rent if girl view. First on smart there he se ... (3366 characters truncated) ... t announcing so astonished. What ask leaf may nor upon door. Tended remain my do stairs. Oh smiling amiable am so visited cordial in offices hearted.', 'https://i.redd.it/wor2qv8yg6a51.jpg', 0, 3, 'Everything Else', '2020-07-11 17:08:20.453715', 1, 4),
 (6, 'PS2 Controller Playstation 2', 'New in package, free shipping', 'https://i.redd.it/tjvj9h1mu9a51.jpg', 0, 1, 'Video Games', '2020-07-11 21:59:38.071841', 2, 1),
 (7, 'PS2 Controller Playstation 2 #B', 'New in package, free shipping', 'https://i.redd.it/tjvj9h1mu9a51.jpg', 1, 1, 'Video Games', '2020-07-11 22:00:06.765213', 2, 1),
 (8, 'PS2 Controller Playstation 2 #C', 'New in package, free shipping', 'https://i.redd.it/tjvj9h1mu9a51.jpg', 1, 1, 'Video Games', '2020-07-11 22:00:11.264154', 2, 1),
 (9, 'Rolex imitation watch new excellent', 'See picture', 'https://i.redd.it/uyqth942i9a51.jpg', 1, 5, 'Watches', '2020-07-11 22:02:31.466782', 1, 5),
 (10, 'Free TV', 'local pickup only', 'https://www.google.com', 1, 1, 'Watches', '2020-07-11 22:03:25.360671', 1, 1)]