In [1]:
import os
os.getcwd()

'/Users/loi/MEGA/Courses/2020_CSCI_S-33a_Web_Python_JS/proj2_commerce'

In [2]:
%load_ext sql
%sql sqlite:///db.sqlite3

'Connected: @db.sqlite3'

list all tables

In [3]:
%sql select * from sqlite_master

 * sqlite:///db.sqlite3
Done.

[('table', 'django_migrations', 'django_migrations', 2, 'CREATE TABLE "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL)'),
 ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'django_content_type', 'django_content_type', 5, 'CREATE TABLE "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL)'),
 ('index', 'django_content_type_app_label_model_76bd3d3b_uniq', 'django_content_type', 4, 'CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model")'),
 ('table', 'auth_group_permissions', 'auth_group_permissions', 9, 'CREATE TABLE "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('index', 'auth_group_permissions_group_id_permission_id_0cd325b0_uniq', 'auth_group_permissions', 12, 'CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id")'),
 ('index', 'auth_group_permissions_group_id_b120cbf9', 'auth_group_permissions', 13, 'CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id")'),
 ('index', 'auth_group_permissions_permission_id_84c5c92e', 'auth_group_permissions', 14, 'CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id")'),
 ('table', 'auth_permission', 'auth_permission', 15, 'CREATE TABLE "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL)'),
 ('index', 'auth_permission_content_type_id_codename_01ab375a_uniq', 'auth_permission', 6, 'CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename")'),
 ('index', 'auth_permission_content_type_id_2f476e4b', 'auth_permission', 10, 'CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id")'),
 ('table', 'auth_group', 'auth_group', 11, 'CREATE TABLE "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE)'),
 ('index', 'sqlite_autoindex_auth_group_1', 'auth_group', 16, None),
 ('table', 'auctions_user', 'auctions_user', 7, 'CREATE TABLE "auctions_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_supe ... (100 characters truncated) ... ast_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL)'),
 ('index', 'sqlite_autoindex_auctions_user_1', 'auctions_user', 8, None),
 ('table', 'auctions_user_groups', 'auctions_user_groups', 17, 'CREATE TABLE "auctions_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auctions_user_user_permissions', 'auctions_user_user_permissions', 18, 'CREATE TABLE "auctions_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auctions_listing', 'auctions_listing', 19, 'CREATE TABLE "auctions_listing" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(64) NOT NULL, "description" varchar(9000) NOT NULL, ... (72 characters truncated) ... _bid" decimal NOT NULL, "current_bid" decimal NOT NULL, "seller_id" integer NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auctions_comment', 'auctions_comment', 22, 'CREATE TABLE "auctions_comment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "comment" varchar(9000) NOT NULL, "commenter_id" integer NOT NULL R ... (16 characters truncated) ... ons_user" ("id") DEFERRABLE INITIALLY DEFERRED, "item_number_id" integer NOT NULL REFERENCES "auctions_listing" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auctions_bid', 'auctions_bid', 23, 'CREATE TABLE "auctions_bid" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "bid_amount" decimal NOT NULL, "n_bids" integer NOT NULL, "bidder_id" i ... (33 characters truncated) ... ons_user" ("id") DEFERRABLE INITIALLY DEFERRED, "item_number_id" integer NOT NULL REFERENCES "auctions_listing" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('index', 'auctions_user_groups_user_id_group_id_1f941809_uniq', 'auctions_user_groups', 24, 'CREATE UNIQUE INDEX "auctions_user_groups_user_id_group_id_1f941809_uniq" ON "auctions_user_groups" ("user_id", "group_id")'),
 ('index', 'auctions_user_groups_user_id_cdaa1ab3', 'auctions_user_groups', 25, 'CREATE INDEX "auctions_user_groups_user_id_cdaa1ab3" ON "auctions_user_groups" ("user_id")'),
 ('index', 'auctions_user_groups_group_id_beef25ba', 'auctions_user_groups', 26, 'CREATE INDEX "auctions_user_groups_group_id_beef25ba" ON "auctions_user_groups" ("group_id")'),
 ('index', 'auctions_user_user_permissions_user_id_permission_id_f092bc2e_uniq', 'auctions_user_user_permissions', 27, 'CREATE UNIQUE INDEX "auctions_user_user_permissions_user_id_permission_id_f092bc2e_uniq" ON "auctions_user_user_permissions" ("user_id", "permission_id")'),
 ('index', 'auctions_user_user_permissions_user_id_fec24fe0', 'auctions_user_user_permissions', 28, 'CREATE INDEX "auctions_user_user_permissions_user_id_fec24fe0" ON "auctions_user_user_permissions" ("user_id")'),
 ('index', 'auctions_user_user_permissions_permission_id_6cab40d7', 'auctions_user_user_permissions', 29, 'CREATE INDEX "auctions_user_user_permissions_permission_id_6cab40d7" ON "auctions_user_user_permissions" ("permission_id")'),
 ('index', 'auctions_listing_seller_id_4fb0ef74', 'auctions_listing', 30, 'CREATE INDEX "auctions_listing_seller_id_4fb0ef74" ON "auctions_listing" ("seller_id")'),
 ('index', 'auctions_comment_commenter_id_3cbcf958', 'auctions_comment', 31, 'CREATE INDEX "auctions_comment_commenter_id_3cbcf958" ON "auctions_comment" ("commenter_id")'),
 ('index', 'auctions_comment_item_number_id_7a8a89c9', 'auctions_comment', 32, 'CREATE INDEX "auctions_comment_item_number_id_7a8a89c9" ON "auctions_comment" ("item_number_id")'),
 ('index', 'auctions_bid_bidder_id_caac8a93', 'auctions_bid', 33, 'CREATE INDEX "auctions_bid_bidder_id_caac8a93" ON "auctions_bid" ("bidder_id")'),
 ('index', 'auctions_bid_item_number_id_7213ced3', 'auctions_bid', 34, 'CREATE INDEX "auctions_bid_item_number_id_7213ced3" ON "auctions_bid" ("item_number_id")'),
 ('table', 'django_admin_log', 'django_admin_log', 37, 'CREATE TABLE "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_rep ... (171 characters truncated) ... nteger NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0))'),
 ('index', 'django_admin_log_content_type_id_c4bce8eb', 'django_admin_log', 35, 'CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id")'),
 ('index', 'django_admin_log_user_id_c564eba6', 'django_admin_log', 36, 'CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id")'),
 ('table', 'django_session', 'django_session', 38, 'CREATE TABLE "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL)'),
 ('index', 'sqlite_autoindex_django_session_1', 'django_session', 39, None),
 ('index', 'django_session_expire_date_a5c62663', 'django_session', 41, 'CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date")')]

In [4]:
import os
os.getcwd()

'/Users/loi/MEGA/Courses/2020_CSCI_S-33a_Web_Python_JS/proj2_commerce'

In [14]:
%sql select * from auctions_user

 * sqlite:///db.sqlite3
Done.

[(1, 'pbkdf2_sha256$180000$hyR2Rw1ZIJYz$qRcRbcTvJixEe5H+2053/s1h52qbqhBcAgfWKq4a6yE=', '2020-07-10 19:16:49.989843', 0, 'byu', '', '', 'bb@yu', 0, 1, '2020-07-10 17:38:01.173968')]

In [15]:
#%sql delete from auctions_user

In [16]:
%sql select * from auctions_bid

 * sqlite:///db.sqlite3
Done.

[]

In [17]:
%sql select * from auctions_comment

 * sqlite:///db.sqlite3
Done.

[]

In [18]:
%sql select * from auctions_listing

 * sqlite:///db.sqlite3
Done.

[(1, 'a', 's', 'd', 1, 10, 10, 1)]