In [14]:
%load_ext sql
%sql sqlite:///db.sqlite3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @db.sqlite3'

list all tables

In [20]:
%%sql
SELECT * FROM sqlite_master where type='table'

 * sqlite:///db.sqlite3
Done.

[('table', 'django_migrations', 'django_migrations', 2, 'CREATE TABLE "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL)'),
 ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'django_content_type', 'django_content_type', 5, 'CREATE TABLE "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL)'),
 ('table', 'auth_group_permissions', 'auth_group_permissions', 9, 'CREATE TABLE "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auth_permission', 'auth_permission', 15, 'CREATE TABLE "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL)'),
 ('table', 'auth_group', 'auth_group', 11, 'CREATE TABLE "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE)'),
 ('table', 'auctions_user', 'auctions_user', 7, 'CREATE TABLE "auctions_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_supe ... (100 characters truncated) ... ast_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL)'),
 ('table', 'auctions_user_groups', 'auctions_user_groups', 17, 'CREATE TABLE "auctions_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auctions_user_user_permissions', 'auctions_user_user_permissions', 18, 'CREATE TABLE "auctions_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'django_admin_log', 'django_admin_log', 29, 'CREATE TABLE "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_rep ... (171 characters truncated) ... nteger NOT NULL REFERENCES "auctions_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0))'),
 ('table', 'django_session', 'django_session', 30, 'CREATE TABLE "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL)'),
 ('table', 'auctions_listing', 'auctions_listing', 33, 'CREATE TABLE "auctions_listing" ("auction_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(64) NOT NULL, "description" varchar(300) NOT NULL, "image" varchar(100) NOT NULL)'),
 ('table', 'auctions_bid', 'auctions_bid', 34, 'CREATE TABLE "auctions_bid" ("auction_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "start_bid" decimal NOT NULL, "curr_bid" decimal NOT NULL, "n_bids" integer NOT NULL)'),
 ('table', 'auctions_comment', 'auctions_comment', 35, 'CREATE TABLE "auctions_comment" ("auction_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "comment" varchar(300) NOT NULL)')]

In [26]:
%%sql
select * from auctions_user

 * sqlite:///db.sqlite3
Done.

[(1, 'pbkdf2_sha256$180000$mu9izhyLT5OA$a4+5PtRboferWUi4Ll852Mhz10/zf65H6SV3Tr9UuqY=', '2020-07-08 20:05:18.289049', 0, 'brianyu', '', 'brian@cs.harvard.edu', 0, 1, '2020-07-08 20:05:18.076774', '')]

In [28]:
%%sql
select * from auctions_bid

 * sqlite:///db.sqlite3
Done.

[]

In [30]:
%%sql
select * from auctions_comment

 * sqlite:///db.sqlite3
Done.

[]